{% for hidden_field in form.hidden_fields %}
{{ hidden_field }}
    {% if hidden_field.errors %}
    {% for error in hidden_field.errors %}
    <small>
        {{ error }}
    </small>
    {% endfor %}
    {% endif %}
{% endfor %}

{% if form.non_field_errors %}
{% for error in form.non_field_errors %}
<article class="pico-background-red-500">
    {{ error }}
</article>
{% endfor %}
{% endif %}

{% if form.visible_fields %}
<fieldset {% if disabled %}disabled{% endif %}>
    {% for field in form.visible_fields %}
    <label for="{{ field.id }}">{{ field.label }}</label>
    {{ field }}

    {% if form.is_bound %}
    {% if field.errors %}
    <small>
    {% for error in field.errors %}
       {{ error }}<br>
    {% endfor %}
    </small>
    {% endif %}
    {% endif %}

    {% if field.help_text %}
    <small>{{ field.help_text }}</small>
    {% endif %}

    {% endfor %}
</fieldset>
{% endif %}
