<link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/@picocss/pico@next/css/pico.indigo.min.css" />
<link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/@picocss/pico@next/css/pico.colors.min.css" />
<link rel="preconnect" href="https://rsms.me/">
<link rel="stylesheet" href="https://rsms.me/inter/inter.css">
<link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/6.4.0/css/all.min.css">

<style>
    :root {
        --pico-font-family: Inter;
    }

    /* Align links in cards at the bottom of the container */
    article {
        flex-direction: column;
        display: flex;
    }

    article a:last-of-type {
        margin-top: auto;
    }

    button.green,
    input.green,
    a[role="button"].green {
        background-color: var(--pico-color-jade-500);
        border-color: var(--pico-color-jade-500);
    }

    button.green:is(:hover, :focus, :selection),
    input.green:is(:hover, :focus, :selection),
    a[role="button"].green:is(:hover, :focus, :selection) {
        background-color: var(--pico-color-jade-400);
        border-color: var(--pico-color-jade-400);
    }

    button.red,
    input.red,
    a[role="button"].red {
        background-color: var(--pico-color-red-500);
        border-color: var(--pico-color-red-500);
    }

    button.red:is(:hover, :focus, :selection),
    input.red:is(:hover, :focus, :selection),
    a[role="button"].red:is(:hover, :focus, :selection) {
        background-color: var(--pico-color-red-400);
        border-color: var(--pico-color-red-400);
    }
</style>
