<link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/@picocss/pico@next/css/pico.indigo.min.css" />
<link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/@picocss/pico@next/css/pico.colors.min.css" />
<link rel="preconnect" href="https://rsms.me/">
<link rel="stylesheet" href="https://rsms.me/inter/inter.css">

<style>
    :root {
        --pico-font-family: Inter;
    }

    /* Align links in cards at the bottom of the container */
    article {
        flex-direction: column;
        display: flex;
    }

    article a:last-of-type {
        margin-top: auto;
    }

    .btn-green {
        background-color: var(--pico-color-jade-500);
        border-color: var(--pico-color-jade-500);
    }

    .btn-green:hover {
        background-color: var(--pico-color-jade-400);
        border-color: var(--pico-color-jade-400);
    }

    .btn-green:focus {
        background-color: var(--pico-color-jade-400);
        border-color: var(--pico-color-jade-400);
    }

    .btn-green:selection {
        background-color: var(--pico-color-jade-400);
        border-color: var(--pico-color-jade-400);
    }

    .muted {
        background-color: initial;
        border: 0;
        text-align: start;
    }
</style>
