{% extends "app/base.html" %}
{% load i18n %}

{% block head %}
<title>{% translate "Dashboard" context "view in the application" %}</title>
{% endblock %}

{% block content %}
<header class="container">
    <hgroup>
        <h1>{% blocktranslate with name=user.username %}Welcome, {{ name }}!{% endblocktranslate %} 👋</h1>
        <p></p>
    </hgroup>
</header>

<main class="container">
    <div class="grid">
        <article id="new-problem-set">
            <h2>{% translate "New Problem Set ✅️"%}</h2>
            <p>{% translate "Generate a new problem set" %}</p>
            <a href="{% url 'app:pset-generation' %}" role="button" style="width: 100%">{% translate "Generate!" %}</a>
        </article>
    </div>
    <div class="grid">
        <article id="templates">
            <h2>{% translate "My Templates 📐" %}</h2>
            <p>{% translate "Collections of problems that can be used to generate problem sets" %}</p>
            <a href="{% url 'app:template-list' %}" role="button" class="secondary" style="width: 100%">{% blocktranslate count counter=template_count %}View {{ counter }} template{% plural %}View {{ counter }} templates{% endblocktranslate %}</a>
        </article>
        <article id="problems">
            <h2>{% translate "My Problem Sets 📄" context "math problems" %}</h2>
            <p>{% translate "Browse all your problem sets" %}</p>
            <a href="{% url 'app:pset-list' %}" role="button" class="secondary" style="width: 100%">{% blocktranslate count counter=pset_count %}View {{ counter }} problem set{% plural %}View {{ counter}} problem sets{% endblocktranslate %}</a>
        </article>
        <article id="problems">
            <h2>{% translate "All Problems 🧠" context "math problems" %}</h2>
            <p>{% translate "Browse all the available problems" %}</p>
            <a href="{% url 'app:problemkind-list' %}" role="button" class="secondary" style="width: 100%">{% blocktranslate count counter=problemkind_count %}View {{ counter }} problem{% plural %}View {{ counter}} problems{% endblocktranslate %}</a>
        </article>
    </div>
</main>
{% endblock %}
