{% extends "app/base.html" %}
{% load i18n %}
{% load app_extras %}

{% block head %}
<title>{% translate "Problems" context "view in the application" %}</title>
{% include "app/includes/maths.html" %}
{% endblock %}

{% block content %}
<main class="container-fluid">
    <h2>{% translate "Problems" context "math problems" %}</h2>
    <div class="overflow-auto">
        <table>
            <thead>
                <tr>
                    <th>{% translate "Problem type" context "of a math problem" %}</th>
                    <th>{% translate "Example" %}</th>
                    <th>{% translate "Solution" context "for a math problem" %}</th>
                </tr>
            </thead>
            <tbody>
                {% for problem_kind, example in object_list|zip:examples %}
                <tr>
                    <td>{{ problem_kind.label }}</td>
                    <td>$$ {{ example.definition }} $$</td>
                    <td>$$ {{ example.solution }} $$</td>
                </tr>
                {% endfor %}
            </tbody>
        </table>
    </div>
</main>
</body>
{% endblock %}
