{% extends "app/base.html" %}
{% load i18n %}

{% block head %}
<title>{% translate "Problem Sets" context "view in the application" %}</title>
{% endblock %}

{% block content %}
{% with psets=object_list %}
<main class="container">
    <h1>{% translate "Problem Sets" %}</h1>
    {% if psets %}
    {% for pset in psets %}
    <article>
        <a href="{{ pset.get_absolute_url }}">
            <h2>{{ pset.name }}</h2>
        </a>
        <footer>
            ❓ <b>{{ pset.template.problem_count }}</b>
            <br>
            📐 <a href="{{ pset.template.get_absolute_url }}"><b>{{ pset.template.name }}</b></a>
        </footer>
    </article>
    {% endfor %}
    {% else %}
    <p>{% translate "You don't have any problem sets yet." %}</p>
    {% endif %}
</main>
{% endwith %}
{% endblock %}
