{% extends "app/base.html" %}
{% load i18n %}

{% block head %}
<title>{% translate "Problem Sets" context "view in the application" %}</title>
{% endblock %}

{% block content %}
{% with psets=object_list %}
<main class="container">
    <h1>{% translate "Problem Sets" %}</h1>
    {% if psets %}
    {% for pset in psets %}
    <article>
        <h2>{{ pset.name }}</h2>
        <footer>
            📄 <i>{{ pset.problem_count }}</i>
            <br>
            📐 <i>{{ pset.template.name }}</i>
        </footer>
    </article>
    {% endfor %}
    {% else %}
    <p>{% translate "You don't have any problem sets yet." %}</p>
    {% endif %}
</main>
{% endwith %}
{% endblock %}
