{% extends "common/base.html" %}
{% load i18n %}

{% block extra_head %}
    <title>{% translate "Templates" context "view in the application" %}</title>

{% endblock %}

{% block content %}
    {% with template=object %}
        <main class="container">
            <hgroup>
                <nav aria-label="breadcrumb">
                    <ul>
                        <li><a href="{% url 'app:dashboard' %}">{% translate "Dashboard" %}</a></li>
                        <li><a href="{% url 'app:template-list' %}">{% translate "Templates" %}</a></li>
                    </ul>
                </nav>
                <h1>
                    {{ template.name }}
                </h1>
                <a title="{% translate "Edit" %}" href="{% url 'app:template-update' pk=template.pk %}" class="secondary"><i class="fa-regular fa-pen-to-square"></i></a>
                <a title="{% translate "Delete Template" %}" href="{% url 'app:template-delete' pk=template.pk %}" class="secondary"><i class="fa-solid fa-trash"></i></a>
            </hgroup>
            {% if template.entries %}
                <table>
                    <thead>
                        <th>{% translate "Problem" %}</th>
                        <th>{% translate "Count" %}</th>
                        <th></th>
                    </thead>
                    <tbody>
                        {% for entry in template.entries %}
                            <tr>
                                <td>{{ entry }}</td>
                                <td>{{ entry.count }}</td>
                                <td>
                                    <div style="display: flex; justify-content: flex-end; gap: 1em;">
                                        <a title="{% translate "Edit" %}" href="{% url 'app:templateproblem-update' pk=entry.pk %}" class="secondary"><i class="fa-regular fa-pen-to-square"></i></a>
                                        <a title="{% translate "Remove" %}" href="{% url 'app:templateproblem-delete' pk=entry.pk %}" class="secondary"><i class="fa-solid fa-trash"></i></a>
                                    </div>
                                </td>
                            </tr>
                        {% endfor %}
                    </tbody>
                </table>
            {% else %}
                <p>{% translate "This template doesn't have any problems yet." %}</p>
            {% endif %}
            <div role="group">
                <a href="{% url 'app:templateproblem-create' template_pk=template.pk %}" role="button" class="green" >{% translate "Add Problem" %}</a>
            </div>
        </main>
    {% endwith %}
{% endblock %}
