{% extends "common/base.html" %}
{% load i18n %}

{% block extra_head %}
<title>{% translate "Templates" context "view in the application" %}</title>

{% endblock %}

{% block content %}
{% with template=object %}
<main class="container">
    <h1>{{ template.name }}</h1>
    {% for entry in template.entries %}
    <article>
        <hgroup>
            <h2>{{ entry.problem_kind_label }}</h2>
            <p>{% blocktranslate count counter=entry.count %}This problem will appear {{ counter }} time in tests{% plural %}This problem will appear {{ counter }} times in tests{% endblocktranslate %}</p>
        </hgroup>
        <footer>
            <a href="{% url 'app:templateproblem-update' pk=entry.pk %}" role="button" class="secondary">Edit</a>
            <button class="red">Delete</button>
            <a href="{% url 'app:templateproblem-update' pk=entry.pk %}" role="button" class="secondary">{% translate "Edit" %}</a>
        </footer>
    </article>
    {% endfor %}
</main>
{% endwith %}
{% endblock %}
