{% extends "common/base.html" %}
{% load i18n %}

{% block extra_head %}
    <title>{% translate "Templates" context "view in the application" %}</title>

    {% include "common/includes/tippy.html" %}

{% endblock %}

{% block content %}
    {% with templates=object_list %}
        <main class="container">
            <nav aria-label="breadcrumb">
                <ul>
                    <li><a href="{% url 'app:dashboard' %}">{% translate "Dashboard" %}</a></li>
                    <li></li>
                </ul>
            </nav>
            <h1>{% translate "Templates" %}</h1>
            {% if templates %}
                {% for template in templates %}
                    <article>
                        <a href="{{ template.get_absolute_url }}">
                            <h2>{{ template.name }}</h2>
                        </a>
                        <footer>
                            <span id="template-count">❓<b>{{ template.problem_count }}</b></span>
                        </footer>
                    </article>
                {% endfor %}
            {% else %}
                <p>{% translate "You don't have any templates yet." %}</p>
            {% endif %}
            <div role="group">
                <a href="{% url 'app:template-create' %}" class="green" role="button">{% translate "Create Template" %}</a>
            </div>
        </main>

        <script>
            tippy("#template-count", {
                content: "{% translate 'The number of problems this template has' %}",
                theme: "pico",
            });
        </script>
    {% endwith %}
{% endblock %}
