{% extends "common/base.html" %}
{% load i18n %}

{% block head_title %}
    {{ object.name }}
{% endblock %}

{% block content %}
    {% with test=object %}

        <main class="container">
            <hgroup>
                <nav aria-label="breadcrumb">
                    <ul>
                        <li><a href="{% url 'app:dashboard' %}">{% translate "Dashboard" %}</a></li>
                        <li><a href="{% url 'app:test-list' %}">{% translate "Tests" %}</a></li>
                    </ul>
                </nav>
                <h1>{{ test.name }}</h1>
                <a title="{% translate "Delete Test" %}" href="{% url 'app:test-delete' pk=test.id %}" class="delete-button secondary"><i class="fa-solid fa-trash"></i></a>
            </hgroup>

            {% for test_version in test.versions %}
                <article style="display:flex; flex-direction: row; gap: 1em;">
                    <a href="{% url 'app:testversion-download' pk=test_version.pk %}" target="_blank" rel="noopener noreferrer">{% blocktranslate with test_version_number=test_version.version_number %}Version {{ test_version_number }}{% endblocktranslate %}</a>
                </article>
            {% endfor %}
            <hr>
            <article style="display:flex; flex-direction: row; gap: 1em;">
                <a href="{% url 'app:test-download' pk=test.pk %}" class="secondary" target="_blank" rel="noopener noreferrer">{% translate "Answer Key" %}</a>
            </article>
        </main>
    {% endwith %}
    {% include "common/includes/tippy.html" %}
{% endblock %}
