{% extends "common/base.html" %}
{% load i18n %}
{% load static %}

{% block extra_head %}
<title>{% translate "Generation" context "view in the application" %}</title>
{% endblock %}

{% block content %}
<main class="container">
    <div class="grid">
        <div>
            <article>
                <form action="{% url 'app:test-generate' %}" method="post">
                    {% csrf_token %}
                    {% include 'common/includes/fields.html' with form=generate_form %}
                    <input type="submit" value="{% translate "Generate!" %}">
                </form>
            </article>

            {% if show_save_form %}
            <article>
                <form action="{% url 'app:test-save' preview_test.id %}" novalidate method="post">
                    {% csrf_token %}
                    {% include 'common/includes/fields.html' with form=save_form disabled=disable_save_form %}
                    <input {% if disable_save_form %}disabled{% endif %} type="submit" class="green"
                        value="{% translate "Save Test" %}">
                </form>
            </article>
            {% endif %}
        </div>
        <div>
            <iframe style="height: 80vh" width="100%" type="application/pdf" name="{% translate "test.pdf" context "PDF file name to save" %}" {% if preview_pdf_b64_data %}
                src="data:application/pdf;base64,{{ preview_pdf_b64_data }}" {% else %}
                src="{% static 'app/example.pdf' %}" {% endif %}>
            </iframe>
        </div>
    </div>
</main>
{% endblock %}
