{% extends "common/base.html" %}
{% load i18n %}

{% block head_title %}
    {% translate "Tests" context "view in the application" %}
{% endblock %}

{% block extra_head %}
    {% include "common/includes/tippy.html" %}
{% endblock %}

{% block content %}
    {% with tests=object_list %}
        <main class="container">
            <nav aria-label="breadcrumb">
                <ul>
                    <li><a href="{% url 'app:dashboard' %}">{% translate "Dashboard" %}</a></li>
                    <li></li>
                </ul>
            </nav>
            <h1>{% translate "Tests" %}</h1>
            <table>
                <thead>
                    <tr>
                        <td>{% translate "Name" %}</td>
                        <td>{% translate "Versions" context "referring to the count of test versions" %}</td>
                        <td>{% translate "Created At" %}</td>
                    </tr>
                </thead>
                <tbody>
                    {% for test in tests %}
                        <tr>
                            <td><a href="{{ test.get_absolute_url }}">{{ test.name }}</a></td>
                            <td><i class="fa-solid fa-paperclip"></i> {{ test.version_count }}</td>
                            <td><span id="created-at-{{ forloop.counter }}"><i class="fa-solid fa-calendar-days"></i> {{ test.created_at|date:"M d, Y" }}</span></td>
                        </tr>
                        <script>
                            tippy("#created-at-{{ forloop.counter }}", {
                                content: "{{ test.created_at|date:'Y-m-d H:m T'}}",
                                theme: "pico",
                            });
                        </script>
                    {% endfor %}
                </tbody>
            </table>
            <div role="group">
                <a href="{% url 'app:test-generation' %}" role="button">{% translate "Generate Test" %}</a>
            </div>
        </main>
    {% endwith %}
{% endblock %}
