{% extends "common/base.html" %}
{% load i18n %}

{% block extra_head %}
<title>{% translate "Test" context "view in the application" %}</title>
{% endblock %}

{% block content %}
{% with test=object %}

<main class="container">
    <hgroup>
    <h1>{{ test.name }}</h1>
    <p>{% translate "📄 Test" %}</p>
    </hgroup>

    {% for test_version in test.versions %}
        <article>
            <a href="{{ test_version.get_absolute_url }}">{% blocktranslate with test_version_number=test_version.version_number %}Version {{ test_version_number }}{% endblocktranslate %}</h1>
        </article>
    {% endfor %}

    <a href="{% url 'app:test-delete' pk=test.id %}" role="button" class="secondary">{% translate "Delete Test" %}</a>
</main>

{% endwith %}
{% endblock %}
