{% extends "common/base.html" %}
{% load i18n %}
{% load static %}

{% block head_title %}
    {% translate "Generate Test" context "view in the application" %}
{% endblock %}

{% block content %}
    <main class="container">
        <nav aria-label="breadcrumb">
            <ul>
                <li><a href="{% url 'app:dashboard' %}">{% translate "Dashboard" %}</a></li>
                <li></li>
            </ul>
        </nav>

        <div class="grid">
            <div>
            <!-- The only form is the GenerateTestForm: pick Template + how many versions -->
                <article>
                    <h2>{% translate "Create a Test from a Template" %}</h2>
                    <form action="{% url 'app:test-generate' %}" method="post">
                        {% csrf_token %}
                        {% include 'common/includes/fields.html' with form=generate_test_form %}
                        <input type="submit" value="{% translate "Generate" %}">
                    </form>
                </article>

            <!-- Show the save form only if we have a preview_test that isn't saved -->
                {% if save_test_form %}
                    <article>
                        <h2>{% translate "Save This Test" %}</h2>
                        <form action="{% url 'app:test-save' preview_test.id %}" method="post" novalidate>
                            {% csrf_token %}
                            {% include 'common/includes/fields.html' with form=save_test_form %}
                            <input type="submit" class="green" value="{% translate "Save Test" %}">
                        </form>
                    </article>
                {% endif %}
            </div>

            <div>
            <!-- If a test has been generated, preview it here -->
                {% if preview_test %}
                    <details open>
                        <summary role="button" class="secondary outline">
                            {% translate "Answer Key" %}
                        </summary>
                        <iframe
                            style="height: 80vh; width: 100%;"
                            type="application/pdf"
                            src="data:application/pdf;base64,{{ preview_test.answer_key_pdf_b64_str }}"
                        >
                        </iframe>
                    </details>

                    {% for test_version in preview_test.versions %}
                        <details {% if test_version.version_number == 1 %} open {% endif %}>
                            <summary role="button" class="secondary">
                                {% blocktrans with version_number=test_version.version_number %}Version {{ version_number }}{% endblocktrans %}
                            </summary>
                            <iframe
                                style="height: 80vh; width: 100%;"
                                type="application/pdf"
                                src="data:application/pdf;base64,{{ test_version.pdf_b64_str }}"
                            >
                            </iframe>
                        </details>
                    {% endfor %}

                {% endif %}
            </div>
        </div>
    </main>
{% endblock %}
