name: cd

on:
  push:
    branches:
      - main

jobs:
  ci:
    uses: ./.github/workflows/ci.yaml
    secrets: inherit

  deploy:
    runs-on: ubuntu-latest
    needs: ci
    steps:
      - name: Checkout repository
        uses: actions/checkout@v4

      - name: Install Nix
        uses: cachix/install-nix-action@v26

      - name: Set up binary cache
        uses: cachix/cachix-action@v14
        with:
          name: abiopetaja
          authToken: "${{ secrets.CACHIX_AUTH_TOKEN }}"

      - name: Set up SSH key
        uses: webfactory/ssh-agent@v0.9.0
        with:
          ssh-private-key: ${{ secrets.SSH_PRIVATE_KEY }}

      - name: Deploy
        run: nix develop .#cd --command deploy .#main --skip-checks
